# The version of the Outline image to use (handled by docker-compose.yml)
OUTLINE_APP_VERSION=0.82.0

# Your public wiki hostname (used in emails/links)
OUTLINE_APP_HOSTNAME=genai.rubicon.ma/docs

# Generate strong secrets for production!
OUTLINE_APP_SECRET_KEY=32char_random_string
OUTLINE_APP_UTILS_SECRET=32char_random_string

# Force HTTPS links in Outline (set to true in production)
OUTLINE_FORCE_HTTPS=true
OUTLINE_NODE_ENV=production

# PostgreSQL Database   
OUTLINE_POSTGRES_VERSION=14
OUTLINE_POSTGRES_USER=outline
OUTLINE_POSTGRES_PASSWORD=postgres_password
OUTLINE_POSTGRES_DB=outline

# Redis
OUTLINE_REDIS_VERSION=6
